:root {
    --butAndFootColor: #5f6368;
}

body {
    background-color: #fff;
    color: #222;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav, main, footer {
    display: grid;
    grid-auto-flow: column;
}

a {
    display: inline-block;
    padding: 16px 0 0 15px;
    text-decoration: none;
    color: #000;
    opacity: 0.75;
    font-size: 13px;
}

.nav-items-two {
    justify-self: end;
}

#tile_button {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
    padding-left: 15px;
}

#name_icon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    padding-right: 25px;
}

.main-items {
    justify-self: center;
    padding: 300px 300px 320px 300px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

#searchfield {
    border-radius: 24px;
    width: 582px;
    border: 1px solid #dfe1e5;
    height: 44px;
}

.search-buttons {
    position: relative;
    left: 150px;
    top: 30px;
}

.button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: var(--butAndFootColor);
    font-family: Arial, Helvetica, sans-serif;
    margin: 11px 4px;
    padding: 0px 16px;
    line-height: 27px;
    height: 36px;
    min-width: 56px;
    text-align: center;
}

footer {
    background-color: #f2f2f2;
    color: var(--butAndFootColor);
    padding-bottom: 15px;
    align-self: center;
}

.footer-items-one, .footer-items-two {
    font-size: 14px;
}

.footer-items-two {
    justify-self: end;
    padding-right: 20px;
    align-self: start;
}